.menuitem {
	MARGIN: 0px 10px 0px 0px;
	COLOR: #00f;
	TEXT-DECORATION: underline;
	z-index: 100;

}
.menuitem2 {
	MARGIN: 0px;
	COLOR: #00f;
	TEXT-DECORATION: underline;
	z-index: 100;
}

#navline {
	border-bottom: #eeeeee 1px solid;
	width: 685px;
}
#nav {
	width:685px;
	height: 20px;
	padding: 6px 8px 6px 8px;
	TEXT-ALIGN: left;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	FONT-WEIGHT: bold;
	LIST-STYLE-IMAGE: none;
	z-index: 100;
}
#nav ul {
	PADDING-BOTTOM: 5px;
	TEXT-ALIGN: left;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-WEIGHT: bold;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
	z-index: 100;
	color: #339999;
}
#nav a {
	BORDER-BOTTOM: #fff 2px solid;
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;	
	color: #339999;
	TEXT-DECORATION: none;
	PADDING-TOP: 0px;
	DISPLAY: block;
	background: #fff;
}
#nav li.main {
	display: inline;
	float: left;
	z-index: 100;
	padding-top: 0px;
	padding-left: 16px;
	padding-right: 16px;
	background: white url(../images/line.jpg) no-repeat;
	background-position: right center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #339999;
	font-size: 15px;
}
#nav li.main2 {
	display: inline;
	float: left;
	z-index: 100;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	background: white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #339999;
	font-size: 15px;
}
#nav li {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #339999;
	font-size: 12px;
	padding: 0px;
}
#nav #current {
	BORDER-BOTTOM-COLOR: #cc0099;
	BORDER-TOP-COLOR: #cc0099;
	COLOR: #333333;
	BORDER-RIGHT-COLOR: #cc0099;
	BORDER-LEFT-COLOR: #c09;
}
#nav #currentb {
	BORDER-BOTTOM-COLOR: #fff;
	BORDER-TOP-COLOR: #cc0099;
	COLOR: #333333;
	BORDER-RIGHT-COLOR: #cc0099;
	BORDER-LEFT-COLOR: #c09;
}
#nav li ul {
	display: block;
	background: #edede8;
	border: 1px solid #666666;
	POSITION: absolute;
	PADDING: 7px;
	WIDTH: 8.5em;
	LEFT: -999em;
	background: #fff;
	z-index: 100;
}
#nav li:hover ul {
	LEFT: auto;
	z-index: 100;
}
#nav li.sfhover ul {
	LEFT: auto;
	z-index: 100;
}
#nav a:hover {
	BORDER-BOTTOM-COLOR: #990000;
	BORDER-TOP-COLOR: #990000;
	COLOR: #333;
	BORDER-RIGHT-COLOR: #990000;
	BORDER-LEFT-COLOR: #990000;
	z-index: 100;
}
